{% extends "vaultcore/base.html" %}
{% block body %}
<table width="100%" class="legacy" cellpadding="12" cellspacing="0" border="0" bgcolor="#fffdf0"><tr><td>
  <font size="3" color="{{ theme.warn }}"><b>Invalid member number</b></font>
  <hr>
  <font size="2" color="#333333">
    "{{ value }}" is not a valid member number. Member numbers must be exactly 5 digits.
  </font>
</td></tr></table>
<br><a href="{{ url_for(request.blueprint ~ '.search') }}"><font size="2">Back to Search</font></a>
{% endblock %}
