{% extends base %}
{% block body %}
<table cellpadding="14" cellspacing="0" border="1" bgcolor="#fffdf0" width="80%" align="center"
       style="border-color:#c9b96a;"><tr><td>
  <b><font color="{{ theme.warn }}">Confirm account closure</font></b>
  <hr>
  You are about to close member <b>{{ member_id }}</b>. This action is irreversible and will
  settle all balances. Confirm to proceed.
  <br><br>
  <form action="{{ url_for(request.blueprint ~ '.close_final') }}" method="post" style="display:inline">
    <input type="hidden" name="member_key" value="{{ member_id }}">
    <input type="submit" class="btn" value="Confirm Close">
  </form>
  &nbsp;&nbsp;
  <a href="{{ url_for(request.blueprint ~ '.search') }}">Cancel</a>
</td></tr></table>
{% endblock %}
