<!DOCTYPE html>
<html>
<head><title>Navigation</title></head>
<body bgcolor="#1f3a5f" text="#ffffff" style="margin:0;font-family:Verdana,Geneva,sans-serif;">
<table width="100%" cellpadding="8" cellspacing="0" border="0">
  <tr><td bgcolor="#12233a">
    <font size="4" color="#ffd24d"><b>CoreServ</b></font><br>
    <font size="1" color="#9fbce0">Core Banking Terminal</font>
  </td></tr>
  <tr><td>
    <font size="2" color="#9fbce0"><b>Navigation</b></font>
    <table cellpadding="5" cellspacing="0" border="0" width="100%">
      <tr><td><a href="/search" target="content"><font color="#ffffff" size="2">Member Lookup</font></a></td></tr>
      <tr><td><a href="/welcome" target="content"><font color="#ffffff" size="2">Accounts</font></a></td></tr>
      <tr><td><a href="/welcome" target="content"><font color="#ffffff" size="2">Transactions</font></a></td></tr>
      <tr><td><a href="/welcome" target="content"><font color="#ffffff" size="2">Administration</font></a></td></tr>
    </table>
  </td></tr>
</table>
</body>
</html>
